.skillHeading {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: xx-large;
  margin: 20px 0px;
}

.skillContainer {
  background-color: #040e1f;
  margin: 0px 0px 20px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  /* gap: 50px; */
}

.skill {
  margin:30px 50px 30px 50px;
  width: 100px;
  height: 100px;
}
