body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0a192f;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  margin:0px 30px;
}

.header{
  display: flex;
  width: 100%;
  height:50px;
  padding-top: 5px;
  flex-direction: row;
  position: fixed;
  top:0;
  justify-content: right;
  align-items:center;
  animation: move_down 1s ease-in-out;
  background-color: #040c18;
}

.headerItem{
  cursor: pointer;
  padding-right:50px;
  line-height: 1.5rem;
  text-decoration: none;
  color:#ccd6f6;
}

.resume{
  cursor: pointer;
  padding:8px;
  margin-right:20px;
  color:#64ffda;
  border: 0.5px solid #64ffda;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
}

.headerItem:hover{
  color:#64ffda;
}

.hamBurger{
  display: none;
  width:30px;
  cursor: pointer;
  position: relative;
}

@media screen and (max-width: 600px) {
  .headerItem {
    display: none;
  }

  .hamBurger{
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    width:20px;
    gap:3px;
  }

  .hamBurgerLine{
    background-color: rgb(230, 28, 28);
    height:2px;
  }
  .headerSm{
    display: flex;
  }

}

@media screen and (min-width: 600px) {
  .headerSm {
    display: none;
  }
  .headerItemSm{
    display: none;
  }
}

@keyframes move_down {
  from {height: 20px}
  to {height:50px}
}

@keyframes move_up{
  from{
    transform: translateY(40px);
  }
  to{
    transform:translateY(0px);
  }
}

@keyframes move_right{
  from{
    transform: translateX(-300px);
  }
  to{
    transform:translateX(0px);
  }
}

@keyframes move_left{
  from{
    transform: translateX(300px);
  }
  to{
    transform:translateX(0px);
  }
}